{% extends "base_generic.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="hero-section">
    <div class="container text-center">
        <h1 class="display-4">Step Into A World Where Every Event Is A Masterpiece.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
        <a href="#" class="btn btn-primary btn-lg">Start Planning</a>
        <a href="#" class="btn btn-secondary btn-lg">Join Community</a>
    </div>
</div>

<div class="features-section py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon fa fa-calendar"></i>
                    <h3>Event Planning</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon fa fa-laptop"></i>
                    <h3>Virtual Event Solutions</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon fa fa-users"></i>
                    <h3>In-Person Events</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/about.jpg' %}" alt="About Us" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>We Take Pride In Curating Experiences That Transcend The Ordinary.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="services-section py-5 bg-light">
    <div class="container text-center">
        <h2>Our Services</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <img src="{% static 'images/service1.jpg' %}" alt="Service 1" class="img-fluid">
                    <h3>Event Planning & Coordination</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <img src="{% static 'images/service2.jpg' %}" alt="Service 2" class="img-fluid">
                    <h3>Venue Selection & Management</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <img src="{% static 'images/service3.jpg' %}" alt="Service 3" class="img-fluid">
                    <h3>Decorations & Theme Setup</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cta-section py-5">
    <div class="container text-center">
        <h2>Ready To Begin The Journey Of Planning Your Next Event?</h2>
        <a href="#" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</div>

<div class="blog-section py-5 bg-light">
    <div class="container">
        <h2>From Our Blog</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-post">
                    <img src="{% static 'images/blog1.jpg' %}" alt="Blog 1" class="img-fluid">
                    <h3>Tips And Tricks For A Spectacular Celebration</h3>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post">
                    <img src="{% static 'images/blog2.jpg' %}" alt="Blog 2" class="img-fluid">
                    <h3>Client Success Stories With Event Management</h3>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post">
                    <img src="{% static 'images/blog3.jpg' %}" alt="Blog 3" class="img-fluid">
                    <h3>A Guide To Exceptional Event Catering</h3>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
