{% extends 'users/base.html' %}

{% block title %}
Bookings - 1Link-EMS - User-panel
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Bookings</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Bookings</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Your Bookings
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Date</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.event.title }}</td>
                            <td>{{ booking.event.date }}</td>
                            <td>{{ booking.event.location }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
