{% extends 'users/base.html' %}

{% block title %}
Change Password - 1Link-EMS - User-panel
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Change Password</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Change Password</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-key mr-1"></i>
            Change Password
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group mt-4 mb-0">
                    <button class="btn btn-primary btn-block" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
