{% extends "base.html" %}

{% block title %}Delete Event - 1Link-EMS{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <!-- Card for delete confirmation -->
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Delete Event</h3>
                    </div>
                    <div class="card-body">
                        <!-- Confirmation message -->
                        <p>Are you sure you want to delete the event <strong>{{ event.title }}</strong>?</p>
                        <!-- Delete confirmation form -->
                        <form method="post">
                            {% csrf_token %}
                            <!-- Delete button -->
                            <button type="submit" class="btn btn-danger btn-block">Delete</button>
                            <!-- Cancel button -->
                            <a href="{% url 'manage_events' %}" class="btn btn-secondary btn-block">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
