{% extends "base.html" %}

{% block title %}Profile - 1Link-EMS - User-panel{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="mt-4">Profile</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Profile</li>
        </ol>

        <!-- Profile Information Card -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-user mr-1"></i>
                Profile Information
            </div>
            <div class="card-body">
                <!-- Profile Update Form -->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>

                <!-- Success Message -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
